<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAPIWS_Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SAPIWS_Sample.Properties.Settings>
            <setting name="SAPIWS_Sample_com_arx_cosigndemo_DSS" serializeAs="String">
                <value>https://prime-dsa-devctr.docusign.net:8080/sapiws/dss.asmx</value>
            </setting>
            <setting name="SAPIWS_Sample_SPMLSoapClient_SPML" serializeAs="String">
                <value>https://prime-dsa-devctr.docusign.net:8080/SAPIWS/spml.asmx</value>
            </setting>
        </SAPIWS_Sample.Properties.Settings>
    </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" maxdatasize="1024">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener"
        initializeData="trace.log"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>