<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HelloWorld.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HelloWorld.Properties.Settings>
            <setting name="HelloWorld_com_cosigntrial_prime_DSS" serializeAs="String">
                <value>https://prime.cosigntrial.com:8080/sapiws/dss.asmx</value>
            </setting>
            <setting name="HelloWorld_SAPIWS_DSS" serializeAs="String">
                <value>https://prime-dsa-devctr.docusign.net:8080/sapiws/dss.asmx</value>
            </setting>
        </HelloWorld.Properties.Settings>
    </applicationSettings>
</configuration>